* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: inline-flex;
  align-items: center;
  margin: 20px 0 40px 0;
}

.header * {
  text-shadow:
    rgba(0, 0, 0, 0.473) 0px 10px 20px,
    rgba(5, 5, 5, 0.534) 0px 6px 6px;
}

.header-1 {
  color: #fff;
  margin-right: 15px;
}

.header-2 {
  color: #de6666;
  margin-right: 15px;
}

.secret-color {
  background-color: #af81019d;
  width: 100px;
  height: 100px;
  border: solid 3px #b2bbbb;
  box-shadow:
    rgba(0, 0, 0, 0.473) 0px 10px 20px,
    rgba(5, 5, 5, 0.534) 0px 6px 6px;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  justify-self: center;
  background-color: #b2bbbb;
  gap: 5px;
  padding: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.473) 0px 10px 20px,
    rgba(5, 5, 5, 0.534) 0px 6px 6px;
}

.color-box {
  background-color: #4d4949;
  height: 40px;
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 3px 3px,
    rgba(0, 0, 0, 0.5) 0px 3px 3px;
}

.color-box:hover {
  background-color: #944d4d;
  transform: scale(1.07);
}

.overt-box {
  color: #000000;
  font-weight: 700;
  font-size: 25px;
  background-color: #f3a93b;
  outline: solid 1px #ffffff;
  transform: scale(1.1);
  border-radius: 5px;
}

.clicks-counter {
  color: #fff;
  margin: 20px;
  font-size: 3.2em;
  font-weight: 700;
  text-shadow:
    rgba(0, 0, 0, 0.473) 0px 10px 20px,
    rgba(5, 5, 5, 0.534) 0px 6px 6px;
}

footer {
  color: #FDD74E;
  margin: 20px;
  font-size: 2.5em;
  font-weight: 600;
  text-shadow:
    rgba(0, 0, 0, 0.473) 0px 10px 20px,
    rgba(5, 5, 5, 0.534) 0px 6px 6px;
}
