.grid-layout {
  display: grid;
  grid-template-columns: repeat(10, minmax(40px, 1fr));
  background-color: rgb(178, 187, 187);
  gap: 5px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.473) 0px 10px 20px, rgba(5, 5, 5, 0.534) 0px 6px 6px;
}

.color-box {
  background-color: #4d4949;
  height: 40px;
}
